<nav class="navbar fixed-top">
  <%= link_to "HOME",cocktails_path, class: "text-style" %>
  <%= link_to "ADD COCKTAIL",new_cocktail_path, class: "text-style" %>
</nav>
<div class="container">
<h2 class="dose-title"><%= @cocktail.name %></h2>
<% @cocktail.doses.each do |dose| %>
<li class="list-group-item">Name: <%= dose.ingredient.name %> | <%= dose.description %></li>
<%= link_to 'Delete', dose_path(dose.id), method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail) %>
</div>
